# Python
**pycache**/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/

# Virtual Environment
embedding_benchmarker_venv/
venv/
.env/

# Data (large files)
data/page_images/
data/extracted_text/
data/documents/
data/chunks/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

#others
models/
llama.cpp/


#temp
notebooks/qa_pair_generation.ipynb
