# --- Core ML ---
torch==2.5.1+cu121
torchvision==0.20.1+cu121
torchaudio==2.5.1+cu121

# --- Transformers / Models ---
transformers==4.57.0
sentence-transformers==5.1.2
tiktoken==0.12.0
openai==2.6.1
# bitsandbytes accelerate qwen-vl-utils

# --- Document processing ---
PyMuPDF==1.26.4
docling==2.55.1
docling-core==2.48.4
pillow==11.3.0

# --- Utilities ---
python-dotenv==1.1.1
tqdm==4.67.1
scikit-learn==1.7.2

# --- Evaluation / Visualization ---
plotly==6.3.1
nbformat==5.10.4
kaleido==1.1.0
ranx==0.3.21

# --- Notebook support ---
ipywidgets==8.1.7